<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/utils/gestures.html">
<link rel="import" href="/bower_components/shadycss/apply-shim.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="park-button.html">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">

<dom-module id="intro-component">
  <template is="dom-bind">
    <style  is="custom-style" include="shared-styles">
    paper-spinner-lite{
      --paper-spinner-color:white;
    }
    h4{
      font-weight: 100;
    }
    </style>

    <div class="container">
      <h3 class="page-title">Welcome to FindMyPark!</h3>
      <h4>{{msg}}</h4>
      <park-button value="Click to use your current GPS location" on-click="getLocation" hidden="[[button]]"></park-button>
      <paper-spinner-lite active="[[spinner]]"></paper-spinner-lite>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class IntroComponent extends Polymer.Element {
      static get is() { return 'intro-component'; }
      static get properties() {
        return {
          userLocation: {
            type: Object,
            value: {
              latitude : '',
              longitude : '',
            },
            notify: true
          },
          currentView: {
            type: String,
            notify: true
          },
          msg: {
            type:String,
            value: 'Please provide your current location'
          },
          spinner: {
            type:Boolean,
            value:false
          },
          button: {
            type:Boolean,
          },
        };
      }

      getLocation() {
          if (navigator.geolocation) {
                this.spinner = true;
                this.button = true;
                this.msg = "Please wait...";
                navigator.geolocation.getCurrentPosition((position)=>{
                  this.userLocation.latitude = position.coords.latitude;
                  this.notifyPath('this.userLocation.latitude');
                  this.userLocation.longitude = position.coords.longitude;
                  this.notifyPath('this.userLocation.latitude');
                  this.spinner = false;
                  this.msg = "Sucess! Your Coordinates are "  + this.userLocation.latitude + ' ' + this.userLocation.longitude;
                  setTimeout(() => {this.next()}, 1000);
              });
          } else {
              this.spinner = false;
              this.msg = "Geolocation is not supported by this browser.";
          };
      }

      next() {
          this.currentView = 'first';
          window.history.pushState({}, null, '#/first');
          window.dispatchEvent(new CustomEvent('location-changed'));  
      };
    }

    window.customElements.define(IntroComponent.is, IntroComponent);
  </script>
</dom-module>
