<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/bower_components/polymer/lib/utils/gestures.html">
<link rel="import" href="/bower_components/shadycss/apply-shim.html">

<link rel="import" href="park-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">

<dom-module id="list-component">
  <template is="dom-bind">
    <style is="custom-style" include="shared-styles">
      results{
        width: 100%;
      }
      .page-title{
        height: 10%;
      }
      .content{
        width: 100%;
        height: 85%;
        overflow-y: auto;
        overflow-x: hidden;
      }
      paper-card{
        box-sizing: border-box;
        width: 49%;
        --paper-card-background-color: transparent;
        --paper-card-header-color: white;
        --paper-card-header: {
            height: 150px;
        };
        --paper-card-header-text: {
          width:100%;
          padding:16px 0;
          font-weight:100;
          font-size: 18px;
          font-weight:400;
          text-align:center;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+20,0.65+100 */
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }
        --paper-card-header-image:{
          --iron-image-placeholder_-_background-size:cover;
          --iron-image-placeholder_-_height: 100%;
          --iron-image-placeholder_-_width:100%;
        }
      }
      park-button{
        border-top: 1px solid #fafafa;
      }
      form{
        width:100%;
      }
      @media only screen and (max-width: 736px) {
        paper-card{
          --paper-card-header-text: {
            font-size: 14px;
            width:100%;
            font-weight:400;
            text-align:center;
            padding:16px 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+5,0.65+66 */
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
          };
          --paper-card-header-image:{
            width: auto;
            height: 100%;
            --iron-image-height: 100%;
            --iron-image-width: auto;
            --iron-image-placeholder_-_background-size:cover;
            --iron-image-placeholder_-_height: 100%;
            --iron-image-placeholder_-_width:100%;
          };
        }
      }
    </style>
    
      <div class="container">
        <span class="page-title">We found many options</span>
        <div class="content">
            <dom-repeat items="{{results}}" as="result">
                <template>
                    <paper-card heading="[[result.NAME]]" 
                                image="[[result.IMG]]" 
                                on-click="fullView" 
                                placeholder-image="[[result.PLACEHOLDERIMG]]" 
                                preload-image 
                                fade-image>
                      <form action="http://maps.google.com/maps" method="get" target="_blank">
                         <input type="hidden" name="saddr" value="[[location.latitude]] [[location.longitude]]" />
                         <input type="hidden" name="daddr" value="[[park.latitude]] [[park.longitude]]" />
                         <park-button type="submit" value="Get Directions"></park-button>
                      </form>
                    </paper-card>
                </template>
            </dom-repeat>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListComponent extends Polymer.Element {
      static get is() { return 'list-component'; }
      static get properties() {
        return {
          results: {
            type: Array,
            value:[]
          },
          currentView: {
            type: String,
            notify: true
          },
          park: {
            type:Object,
            notify:true
          },
          location: {
            type:Object
          },
        };
      }

      fullView(e) {
        e.stopPropagation();
        this.park = e.model.result;
        this.currentView = 'fourth';
        window.history.pushState({}, null, '#/fourth');
        window.dispatchEvent(new CustomEvent('location-changed'));  
      };
    }
    
    window.customElements.define(ListComponent.is, ListComponent);
  </script>
</dom-module>
