<dom-module id='shared-styles'>
    <template>
        <style>
       :host {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color:white;
        width: 100vw;
        height:100vh;
        margin:0;
        padding:0;
      }
      .container{
        width:60%;
        display:flex;
        padding-top: 5%;
        box-sizing: border-box;
        align-items:center;
        margin: 0 auto;
        flex-wrap:wrap;
        overflow-y:auto;
        overflow-x:hidden;      
        min-height:100vh;
        flex-direction: column;
      }
      .page-title{
        font-size:2rem;
        font-weight: 100;
        text-align: center;
        margin: 0 0 5%;
        width:100%;
      }
      @media only screen and (max-width: 736px) {
           .container{         
            height:100vh;
            width: 100%;
            padding: 10% 5%;
           }
      }
        </style>
    </template>
</dom-module>